<div class="menu">
    {{#with menuItems}}
        {{#each menuLinks }}
            <a id="{{ this.id }}" data-event="{{ this.event }}" class="menu__items"
               href="{{ this.url }}" data-path="{{this.url}}">
                {{ this.name }}
            </a>
            <br>
        {{/each}}
    {{/with}}
</div>
